.App {
  text-align: center;
  box-sizing: border-box;
}
 
.App-link {
  color: #61dafb;
}

footer{
  background-color: #F3F3F3;
  padding-top: 10px;
  padding-bottom: 10px;
  position:fixed;
  bottom:0;
  width: 100%;
}